body {
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #4e443c;
  font-size: 14px;
  background: url(../images/bg.jpg) fixed;
}

#header {
  margin: auto;
  width: 1024px;
  height: 50px;
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #E8E5E0;
  margin-bottom: 20px;
}
#logo {
  float: left;
  display: block;
  width: 200px;
  height: 50px;
}
#header nav {
  float: right;
}
#header nav a {
  display: inline-block;
  width: 160px;
  color: #9B9FA2;
  height: 50px;
  font-family: "Whitney SSm A", "Whitney SSM B", Helvetica, Arial, sans-serif;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#header nav a:hover {
  color: #4e443c;
}

#content {
  min-height: 400px;
  margin: auto;
  width: 1024px;
}

#comments-wrapper {
  height: 300px;
  background: url(../images/bg-dark.jpg) fixed;
}
#comments {
  margin: auto;
  width: 980px;
}

.comments-container {
  max-height: 200px;
  min-height: 100px;
  margin: 20px 0 10px 0;
  background: #FFF;
  overflow-y: auto;
  border-radius: 5px;
  border: 1px solid #666;
}
.comments-container .name,
.comments-container .email,
.comments-container .time {
  padding: 10px 20px;
}

.comments-container .body {
  padding: 10px;
}

.comment-email, .comment-name {
  width: 300px;
  height: 25px;
  border-radius: 10px;
  margin: 10px 30px 10px 0;
  padding: 0 10px;
  border: none;
}
.comment-text {
  width: 960px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #666;
  resize: none;
  padding: 10px;
}
.comment-send {
  width: 100px;
  height: 25px;
  border-radius: 20px;
  background: #CCC;
  text-align: center;
  border: none;
}

#footer {
  margin: auto;
  width: 1024px;
  height: 40px;
  padding: 20px;
  text-align: center;
}
