body {
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
  color: #4e443c;
  font-size: 14px;
  background: url(../images/bg.jpg) fixed;
}

#header {
  margin: auto;
  width: 1024px;
  height: 50px;
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #E8E5E0;
  margin-bottom: 20px;
}
#logo {
  float: left;
  display: block;
  width: 200px;
  height: 50px;
}
#header nav {
  float: right;
}
#header nav a {
  display: inline-block;
  width: 160px;
  color: #9B9FA2;
  height: 50px;
  font-family: "Whitney SSm A", "Whitney SSM B", Helvetica, Arial, sans-serif;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#header nav a:hover {
  color: #4e443c;
}

#content {
  min-height: 400px;
  margin: auto;
  width: 1024px;
}

#comments-wrapper {
  height: 300px;
  background: url(../images/bg-dark.jpg) fixed;
}
#comments {
  margin: auto;
  width: 1024px;
}

#footer {
  margin: auto;
  width: 1024px;
  height: 100px;
}
