<div id="comments">
  <div class="comments-container">
    loading...
  </div>
  <div id="submit-box">
    <input placeholder="email" type="email" class="comment-email">
    <input placeholder="name" type="text" class="comment-name">
    <textarea class="comment-text" placeholder="type your comments ..."></textarea>
    <button class="comment-send">send</button>
  </div>
</div>

<script type='text/javascript' src='assets/js/comments/CommentsModel.js'></script>
<script type='text/javascript' src='assets/js/comments/CommentsApp.js'></script>
<script type="text/javascript">
  var baseRef = new Firebase('https://my-blog.firebaseio.com/');
  var commentsModel = new CommentsModel(baseRef);
  var commentsApp = new CommentsApp($('#comments'), commentsModel);

</script>
