<div id="comments">
  <div id="comments-container">
    loading...
  </div>
  <div id="submit-box">
    <input placeholder="email" type="email" id="box-email">
    <input placeholder="name" type="text" id="box-name">
    <textarea id="box-comment" placeholder="type your comments ..."></textarea>
  </div>
</div>

<script type="text/javascript">
  var baseRef = new Firebase('https://livemeeting.firebaseio.com/').child(eventId);
  var chatModel = new ChatModel(baseRef);
  var chatBox = new ChatBox($('#chat'), userId, chatModel);

</script>
