<footer id="footer">
  <a href="https://twitter.com/wenfengchen" class="twitter-follow-button" data-show-count="true" data-size="large" data-lang="en">Follow</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <a href="https://github.com/chenwenfeng" class="github-follow-button">Follow On GitHub</a>
  <script type="text/javascript" src="http://octophile.com/widgets.js"></script>

  <!-- Place this code where you want the badge to render. -->
  <a href="//plus.google.com/107382592386458283900?prsrc=3" rel="publisher" style="text-decoration:none;margin-right: 30px;">
  <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/></a>

</footer>
